app.controller('HomeCtrl', ['$scope', '$http', '$routeParams', 'uiGmapGoogleMapApi', '$timeout', 'WeatherServices', '$sce', function($scope, $http, $routeParams, uiGmapGoogleMapApi, $timeout, WeatherServices, $sce){

  var homeMap = {
    center: { 
      latitude: 22.3991729, //tai lam country park
      longitude: 114.1320305
    },
    zoom: 11,
    bounds: {
      latitude: 22.1634178, 
      longitude: 113.5629425
    }
  };
  // styling options, array
  var hikeMapStyle = [
    {
      "featureType":"landscape.natural",
      "elementType":"geometry.fill",
      "stylers":[
        {"visibility":"on"},
        {"color":"#e0efef"}
      ]
    },
    {
      "featureType":"poi",
      "elementType":"geometry.fill",
      "stylers":[
        {"visibility":"on"},
        {"hue":"#1900ff"},
        {"color":"#c0e8e8"}
      ]
    },
    {
      "featureType":"road",
      "elementType":"geometry",
      "stylers":[
        {"lightness":100},
        {"visibility":"simplified"}
      ]
    },
    {
      "featureType":"road",
      "elementType":"labels",
      "stylers":[
        {"visibility":"off"}
      ]
    },
    {
      "featureType":"transit.line",
      "elementType":"geometry",
      "stylers":[
        {"visibility":"on"},
        {"lightness":700}
      ]
    },
    {
      "featureType":"water",
      "elementType":"all",
      "stylers":[
        {"color":"#7dcdcd"}
      ]
    }
  ];

  $scope.map = homeMap; 
  $scope.loading = false;
  $scope.outBox = true;
  $scope.showHide = "glyphicon-minus";
  $scope.search = true;
  $scope.trailPanel = false;
  $scope.zero = false;
  $scope.options = {
    scrollwheel: true,
    styles: hikeMapStyle,
    panControl:false,
    zoomControl:true,
    zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.LEFT_BOTTOM
    },
    mapTypeControl:false,
    scaleControl:false,
    streetViewControl:false,
    minZoom: 10,
    maxZoom: 16
  };
  $scope.trailMarkers = [];
  $scope.search_parameters = {
    distance: 24,
    duration: 10,
    difficulty: 5,
    scenery: 5,
    regions: [
      { text: "HK", checked: true },
      { text: "KLN", checked: true },
      { text: "N.T.", checked: true }
    ]
  }
  // slider for distance (km)
  $scope.sliderDistanceConfig = {
      min: 0,
      max: 24,
      step: 1,
      value: 24
  }
  // slider for durations (hours)
  $scope.sliderDurationConfig = {
      min: 0,
      max: 10,
      step: 0.5,
      value: 10
  }
  // slider for difficulties (0-5)
  $scope.sliderDifficultConfig = {
      min: 0,
      max: 5,
      step: 0.5,
      value: 5
  }
  // slider for scenery (0-5)
  $scope.sliderSceneryConfig = {
      min: 0,
      max: 5,
      step: 0.5,
      value: 5
  }
  // initial markers set, see html models = 'trails'
  var generateMarkers = function (data){
    $scope.trailMarkers = [];
    for (i = 0; i < data.length; i++){
      $scope.trailMarkers.push({
        title: data[i].name,
        latitude: data[i].start_coordinates.latitude, 
        longitude: data[i].start_coordinates.longitude,
        id: data[i].id,
        icon: "assets/hike_marker.png",
      })
    }
  };
  // the toggle function that show and hide the filter
  $scope.showbox = function(){
    $scope.outBox = !$scope.outBox;
    if ($scope.outBox == true){
      $scope.showHide = "glyphicon-minus";
    }
    else if($scope.outBox == false){
      $scope.showHide = "glyphicon-plus";
    }
  }
  $scope.goHome = function(){
    console.log('go home clicked');
    // $scope.map = homeMap; 
    $scope.polylines = [];
    $scope.map.center.latitude = 22.3991729;
    $scope.map.center.longitude = 114.1320305;
    $scope.map.zoom = 11;
    $scope.search = true;
    $scope.trailPanel = false;
    $scope.moreClicked = false;
    $scope.morePlantClicked = false;
  }
  // the switch that switch from search results to individual result
  $scope.switchPanel = function(){
    $scope.search = !$scope.search;
    $scope.trailPanel = !$scope.trailPanel;
    $scope.goHome();
  }
  // Weather service functions to get weather details
  var getWeather = function(lat, lon){
    console.log("weather gets called");
    WeatherServices.returnWeather(lat, lon).success(function(data){
      $scope.weatherInfo = WeatherServices.processData(data)
    });
  }
  // this is an array of coordinates for the polylines
  var makeCoord = function(array) {
    new_array = [];
    for (var i =0; i < array.length; i++){
      new_array.push({ latitude: array[i].split(',')[0], longitude: array[i].split(',')[1]});
    }
    return new_array;
  }
  var generateTrailRoutes = function (data){
    // console.log("generate trail routes", data);
    $scope.polylines = [
    {
        id: 1,
        path: makeCoord(data.trail_coordinates), 
        stroke: {
            color: 'red',
            weight: 3
        },
        editable: false,
        draggable: false,
        geodesic: false,
        visible: true,
        icons: [{
            icon: {
                // path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW
            },
            offset: '25px',
            repeat: '50px',
        }]
    }];
    // console.log("polyline", $scope.polylines);
  };
  $scope.openTrailPanel = function(id){
    console.log('trail id', id);
    $http.get('/trails/'+ id).success(function(data, status, xhr) {
      $scope.oneTrail = data;
      console.log($scope.oneTrail);
      $scope.map.center.latitude = $scope.oneTrail.start_coordinates.latitude;
      $scope.map.center.longitude = $scope.oneTrail.start_coordinates.longitude;
      generateTrailRoutes($scope.oneTrail);
      // console.log('openTrailPanel oneTrail coordinates', $scope.oneTrail.start_coordinates.latitude, $scope.oneTrail.start_coordinates.longitude);
      // console.log('map center', $scope.map.center.latitude, $scope.map.center.longitude);
      $scope.map.zoom = 15;
      $scope.search = false;
      $scope.trailPanel = true;
      getWeather($scope.oneTrail.start_coordinates.latitude, $scope.oneTrail.start_coordinates.longitude);
    })
  }
  // the function that create the stars
  $scope.makeStars = function(factor) {
    // console.log('factor:',factor);
    var range = 5.0;
    var wholeDiff = range - factor;
    stars = "";
    for (var i = factor; i > 0; i--) {
      if (i == 0.5) {
        stars = stars + "<li class='icon fa fa-star-half-empty'></li>";
      } else {
        stars = stars + "<li class='icon fa fa-star'></li>";
      }
    }
    for (var i = wholeDiff; i > 0.5; i--) {
      stars = stars + "<li class='icon fa fa-star-o'></li>";
    }
    // must trust html for it to show up
    return $sce.trustAsHtml(stars);
  }
  $scope.moreBirdPicture = function() {
    console.log("more bird picture clicked");
    $scope.moreClicked = !$scope.moreClicked;
  }
  $scope.morePlantPicture = function() {
    console.log("more plant picture clicked");
    $scope.morePlantClicked = !$scope.morePlantClicked;
  }

  // dont undersatnd ui-gamp-windows at all show is not working
  // onclick the window shows up, with title and description
  // $scope.trails.onMouseOver = function() {
  //     trails.show = !trails.show;
  // };

  var timeOut = 1000;
  var timeoutPromise;
  var getParams = function(){
    $scope.loading = true;
    $timeout.cancel(timeoutPromise);
    timeoutPromise = $timeout(function(){   //Set timeout
      // console.log("getParams function at work");
      submitParams();
    }, timeOut);
  }
  var submitParams = function() {
    $http.get('/search?duration='+$scope.search_parameters.duration+"&difficulty="+$scope.search_parameters.difficulty+"&scenery="+$scope.search_parameters.scenery+"&distance="+$scope.search_parameters.distance+"&hk="+$scope.search_parameters.regions[0].checked+"&kln="+$scope.search_parameters.regions[1].checked+"&nt="+$scope.search_parameters.regions[2].checked).success(function(data, status, xhr){
        // console.log($scope.search_parameters.regions.checked)
        console.log("submit parmas data is ", data);
        $scope.trails = data.trails;
        // console.log("coordinates", $scope.trails[0].trail_coordinates, $scope.trails[0]);
        generateMarkers($scope.trails);
        $scope.loading = false;
        // console.log("length", data.trails.length);
        if (data.trails.length == 0){
          $scope.zero = true;
          // console.log($scope.zero);
        }
        else {
          $scope.zero = false;
        }
        // goHome();
    })
  }
  $scope.$watch("search_parameters.difficulty", function() {
    getParams();
  });
  $scope.$watch("search_parameters.duration", function() {
    getParams();
  });
  $scope.$watch("search_parameters.distance", function() {
    getParams();
  });
  $scope.$watch("search_parameters.scenery", function() {
    getParams();
  });
  $scope.$watch("search_parameters.regions[0].checked", function() {
    console.log("getParams region 0");
    getParams();
  });
  $scope.$watch("search_parameters.regions[1].checked", function() {
    console.log("getParams region 1");
    getParams();
  });
  $scope.$watch("search_parameters.regions[2].checked", function() {
    console.log("getParams region 2");
    getParams();
  });

}]);

