<body>
  <div id="map-canvas">
    <ui-gmap-google-map 
        center='map.center'
        zoom  ='map.zoom'>

      <ui-gmap-marker
          idKey ='marker.idKey'
          coords='marker.coords'>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div id="filter-box">
      <ul class="list-group">
        <li class="list-group-item"><div>Duration</div></li>
        <li class="list-group-item"><div>Difficulties</div></li>
        <li class="list-group-item"><div>Scenary</div></li>
        <li class="list-group-item"><div>Trees & Flowers</div></li>
        <li class="list-group-item"><div>Hello World</div></li>
      </ul>
  </div>
</body>

