$primary-background-color: #363636;
// $secondary-background-color: white;
// $primary-font-color: #60c395;
$primary-font-color: #e0efef;
// $primary-font-color: #7dcdcd;
// $secondary-font-color: black;
// $primary-border-color: #bfbfbf;
$primary-border-color: #363636;
