@import "colors";

#filter-box {
  text-align: center;
  z-index: 20;
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 20vw;
  border: 1px solid $primary-border-color;
}

// list group item
#filter-box > ul > li {
  background-color: $primary-background-color;

}

// list group
#filter-box > ul {
  margin-bottom: 0;
}

.region-checkbox{
  display: inline-block;
  padding: 0px 8px;
}