@import "colors";

#info-panel{
  height: 100vh;
  width: 25vw;
  position: fixed;
  right:0;
  text-align: center;
  z-index: 15;
  background-color: $primary-background-color;
  overflow: scroll;
  padding: 0;
  color: $primary-font-color;
}

img.search-result-pix{
  display: inline-block;
  // max-height: 80px;
  // height: auto;
  height: 80px;
  // width: auto;
  max-width: 10vw;
  padding: 0px 0px;
}

// acting funny .trail-results
div.list-group-item{
  display: flex;
  align-items: center;
  background-color: $primary-background-color;
  color: $primary-font-color;
}

div.list-group-item.trail-results{
  padding: 0;
}

button.search-results-button{
  display: inline-block;
  background-color: transparent;
}

.search-results-item{
  display: inline-block;
  text-align: left;
}

.search-results-item > h2 {
  font-size: 20px;
}

.search-results{
  text-align: left;
}

.search-results > h1{
  font-size: 24px;
  padding-left: 15px;
}

#one-trail{
  text-align: left;
}

#one-trail > div.list-group-item{
  display: inherit;
  text-align: left;
}

#one-trail > div > h2 {
  font-size: 20px;
  display: inline-block;
}

#one-trail > div > p {
  display: inline-block;
}

#back-button{
  background-color: transparent;
  display: inline-block;
  margin-bottom: 20px;
}

.title-name{
  display: inline-block;
}

#trail-carousel{

}

img.trail-img{
  height: 100%;
  width: 100%;
}

