@import "colors";

#info-panel{
  height: 100vh;
  // width: 25vw;
  width: 350px;
  position: fixed;
  right:0;
  text-align: center;
  z-index: 15;
  background-color: $primary-background-color;
  overflow: scroll;
  // padding-left: 10px;
  padding: 0;
  color: $primary-font-color;
}

img.search-result-pix{
  display: inline-block;
  // max-height: 80px;
  // height: auto;
  height: 80px;
  width: 80px;
  // max-width: 10vw;
  padding: 5px 5px;
  
}

div.list-group-item{
  display: flex;
  align-items: center;
  background-color: $primary-background-color;
  color: $primary-font-color;
  border-color: $primary-background-color; 
  padding: 10px;
}

div.list-group-item.trail-results{
  padding: 5px;
  border-color: $primary-background-color; 
  &:hover{
    background-color: $primary-font-color;
    color: $primary-background-color;
  }
}

button.search-results-button{
  display: inline-block;
  background-color: transparent;
}

.search-results-item{
  display: inline-block;
  text-align: left;
}

.search-results-item > h2 {
  font-size: 15px;
}

.search-results{
  text-align: left;
}

.search-results > h1{
  font-size: 24px;
  padding-left: 15px;
}

#one-trail{
  text-align: left;
}

#one-trail > div.list-group-item{
  display: inherit;
  text-align: left;
  padding-bottom: 0;
}

#one-trail > div > h2 {
  display: inline-block;
  min-width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.fauna-class {
  width: 100%;
}

.pix-container{
  text-align: center;
}

#one-trail > div > p {
  display: inline-block;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#weatherSection {
  display: inline-block;
  font-size: 16px;
}

#one-trail > div > ul.stars {
  display: inline-block;
  padding-left: 0;
}


#back-button{
  background-color: transparent;
  display: inline-block;
  margin-bottom: 20px;
}

#one-trail > div > #title-name{
  display: inline-block;
  font-size: 30px;
}

#one-trail > div > p.title-description{
  font-style: italic;
  font-size: 14px;
}

#trail-carousel{

}

img.trail-img{
  min-height: 200px;
  max-height: 200px;
  width: 100%;
}

#company-name{
  font-size: 20px;
  font-weight: 10px;
  background-color: $primary-font-color;
  color: $primary-background-color;
  text-align: center;
  padding: 3px;
  margin: 0;
}

.loading-img {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.loading-img > img {
  text-align: center;
  padding-left: 50px; 
}

.bird-class{
  display: inline-block;
}

div.thumbnail{
  background-color: $primary-background-color;
  display: inline-block;
  color: $primary-font-color;
  position: relative;
  margin-bottom: 10px;
  border: 0;
  &:hover .caption{
    visibility: hidden;
  }
}

div.thumbnail > .caption{
  color: $primary-font-color;
  max-width: 150px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(255,255,255,.2);
}

div.thumbnail > img.bird-pix{
  height: 150px;
  width: 150px;
  // padding: 2px;
}

