@import "colors";

.angular-google-map-container{
  height: 100vh;
}

html, body, #map-canvas { 
  height: 100vh; 
  width: 100vw;
  margin: 0; 
  padding: 0;
  position: absolute;
  z-index: 10;
}

#small-screen{
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: absolute;
  background-color: rgba(100,100,100,1);
  align-items: center;
}

#small-screen > a{
  top: 50%;
  position: relative;
}

#small-screen > img{
  position: relative;
  top: 50%;
}

.mobile-link{
  color: $primary-font-color;
  text-decoration: none;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

@media(max-width:990px){
  #small-screen{
    z-index: 30;
  }
}

@media(min-width:991px){
  #small-screen{
    display: none;
  }
}
