.angular-google-map-container{
  height: 100vh;
}

html, body, #map-canvas { 
  height: 100vh; 
  width: 100vw;
  margin: 0; 
  padding: 0;
  z-index: 10;
  position: absolute;
}

#filter-box{
  text-align: center;
  z-index: 20;
  position: fixed;
  bottom: 25px;
  left: 25px;
  // height: 200px;
  width:350px;
  border: 1px solid black;

}

// list group item
#filter-box > ul > li {
  background-color: white;

}

// list group
#filter-box > ul {
  margin-bottom: 0;
}


